@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
  color: var(--Dark-01);
  font-weight: 600;
  /* border: 2px solid brown; */
}

body {
  max-width: 100vw;
}

:root {
  --Dark-01: #131313;
  --Dark-02: #424242;
  --Dark-03: #727272;
  --default-bg: rgba(255, 144, 14, 0.10);
  --default-font: 'Work Sans', sans-serif;
}

.primary-btn {
  border-radius: 8px;
  background: #FF900E;
  color: #FFF;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  padding: 21px 24px 20px 25px;
}

a:hover,
button:hover {
  cursor: pointer;
}


/* header section style start */
header {
  background: rgba(255, 144, 14, 0.10);
  max-width: 100vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 50px 240px 0 228px; */
  padding: calc(50 / 1080 * 100vh) calc(240 / 1920 * 100vw) calc(0 / 1080 * 100vh) calc(228 / 1920 * 100vw);
  max-width: 100%;
}

nav>:first-child {
  margin-right: auto;
}

nav a,
nav h1 {
  text-align: center;
  text-decoration: none;
}

nav>h1>a {
  font-size: 2.8125rem;
  font-weight: 700;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: calc((60 / 1920) * 100vw);
}

nav .links>a {
  color: var(--Dark-02);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 26px;
  /* 144.444% */
}

header .title {
  /* min-width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 868px;
  gap: 20px;
}

header .title>:first-child {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

header .title>:last-child {
  color: var(--Dark-03);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  max-width: 100%;
}

.banner-img {
  margin: 45px;
  max-width: 100%;
  height: auto;
}

.banner .primary-btn {
  margin: 32px auto 5px auto;
}

/* team section style start */
.teams {
  margin-top: calc((85 / 1080) * 100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc((73 / 1920) * 100vw);
}

.team-photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(24 / 1920 * 100vh);
  max-width: 100%;
}

.team-photo img {
  border-radius: 8px;
  max-width: calc(100% - (40 / 1920 * 100vw));
}

.team-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 540px;
  gap: calc(28 / 1920 * 100vh);
}

.team-description>h1 {
  color: var(--Dark-03);
  font-size: 2.815rem;
  font-weight: 500;
}

.team-description>h1>:first-child {
  color: var(--Dark-01);
  font-weight: 700;
}

.team-description>h1>:last-child {
  color: #FF900E;
  font-weight: 700;
}

.team-description>p {
  color: var(--Dark-03);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  /* 162.5% */
}

/* team section ends */
/* experience section start */
.experience {
  display: flex;
  gap: calc(146 / 1920 * 100vw);
  padding: 0 calc(240 / 1920 * 100vw);
  margin-top: 130px;
}

.experience .heading h1 {
  max-width: 468px;
  font-size: 2.8125rem;
  font-weight: 700;
  margin-bottom: 24px;
  padding-left: calc(21 / 1920 * 100vw);
  border-left: 5px solid #FF900E;
}

.experience p {
  color: var(--Dark-03);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  /* 162.5% */
  margin-top: 10px;
}

.experience p:first-child {
  margin: 10px;
}

.experience h3 {
  font-size: 1.25rem;
}

.brief-info {
  display: flex;
  flex-direction: column;
}

.brief-info>* {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.116);
  padding: 30px 42px 30px 30px;
  margin-top: 20px;
}

.experience button {
  font-size: calc(25 / 16 * 1rem);
  font-weight: 500;
  line-height: 2.5rem;
  padding: calc(46 / 1080 * 100vh), calc(42 / 1920 * 100vw);
  position: relative;
  bottom: calc(123 / 1080 * 100vh);
  right: calc(92 / 1920 * 100vw);
}

.experience button>span {
  color: white;
  font-size: calc(65 / 16 * 1rem);
  font-weight: 700;
  line-height: 4.5rem;
  /* 107.692% */
}

.experience .img-section img {
  max-width: 100%;
}

/* Experience section done */
/* Acknowledgement Section start */
.facts {
  display: flex;
  flex-direction: column;
  gap: calc(75 / 1080 * 100vh);
  padding: 0 calc(240 / 1920 * 100vw);
  margin-top: calc(130 / 1080 * 100vh);
}

.facts .fact-heading {
  max-width: 542px;
}

.facts .fact-heading>:first-child {
  font-size: 2.8125rem;
  font-weight: 700;
}

.facts .fact-heading>:last-child {
  color: var(--Dark-03);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  /* 162.5% */
  margin: calc(25 / 1080 * 100vh), 0;
}

.acknowledgement-container {
  display: flex;
  justify-content: space-around;
}

.acknowledgement-container .acknowledgement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #FF900E;
  min-width: calc(240 / 1920 * 100vw);
  min-height: calc(240 / 1920 * 100vw);
  text-align: center;
}

.acknowledgement-container .acknowledgement .stat {
  margin: 10px auto 2px auto;
}

/* facts section done, footer section start */
footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  margin: calc(180 / 1080 * 100vh) auto calc(216 / 1080 * 100vh) auto;
  max-width: 75vw;

}

footer>:first-child,
footer>:nth-child(2),
footer>:last-child {
  grid-column: span 5;
  margin: 0 auto;
}

footer>:first-child {
  color: var(--Dark-01, #131313);
  font-size: 2.8125rem;
  font-weight: 700;
}

footer>:nth-child(2) {
  margin: 24px auto 50px auto;
  color: var(--Dark-03, #727272);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  /* 162.5% */
  max-width: 540px;
}

footer img{
  filter: grayscale(100%);
}

footer>:last-child {
  border-radius: 8px;
  background: #FFF4E7;
  padding: 40px;
  margin-top: 130px;
  color: var(--Dark-02);
  font-size: 1.25rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
}


/* responsive for tab */
@media screen and (min-width:577px) and (max-width: 992px) {

  nav,
  .teams {
    flex-direction: column;
  }

  nav {
    gap: calc(20 / 1920 * 100vh);
    padding: calc(32 / 1080 * 100vh), calc(50 / 1920 * 100vw),
      calc(20 / 1080 * 100vh), calc(50 / 1920 * 100vw);
  }

  nav>* {
    margin: auto;
  }

  .banner,
  header {
    margin: 0;
    padding: 0;
  }

  .banner .title {
    max-width: 90%;
    margin: 0 auto;
  }

  .banner .title>:first-child {
    font-size: 2rem;
  }

  .banner .banner-img {
    max-width: 100%;
  }

  .teams {
    gap: calc(30 / 1080 * 100vh);
  }

  .team-photo {
    justify-content: space-evenly;
    gap: calc(40 / 1920 * 100vw);
  }

  .team-description {
    align-items: center;
    text-align: center;
  }

  .experience {
    flex-direction: column-reverse;
  }

  .facts .fact-heading {
    margin: 0 auto;
    text-align: center;
  }

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer img{
    transform: scale(.7);
  }

  footer>:last-child{
    padding: 10px;
  }

}



/* responsive for mobile */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    gap: calc(20 / 1080 * 100vh);
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  nav h1 {
    margin: auto;
  }

  .links {
    gap: .5rem;
  }

  .banner .title {
    /* padding: 0 10px; */
    max-width: 90%;
  }

  .banner .title>:first-child {
    font-size: 2rem;
  }

  .teams {
    flex-direction: column;
  }

  .team-photo {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .team-photo img{
    margin: auto;
  }

  .team-description {
    align-items: center;
    text-align: center;
    max-width: 90%;
  }

  .experience {
    flex-direction: column-reverse;
  }

  .experience button {
    max-width: 100%;
  }

  .experience button>span {
    font-size: 2rem;
  }

  .facts .fact-heading {
    margin: 0 auto;
    text-align: center;
  }

  .acknowledgement-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .facts .acknowledgement {
    padding: 10px;
  }

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer img{
    transform: scale(.5);
  }

  footer>:last-child{
    padding: 10px;
  }
}